@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,800;1,800&family=Roboto+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,800;1,800&family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,800;1,800&family=Pacifico&family=Rubik+Maze&display=swap');
/*reset*/
* {
    box-sizing: border-box;
}
html, body {

    font-family: 'roboto-mono', sans-serif;
    background: #F55C7A;
    color: #ffffff;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
/* navbar*/
#navbar a{
    color: #ffffff;
}
#navbar .logo{
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 16px;
    font-weight: 400;
    float: right;
}
#navbar .secondary{
    font-family: 'Rubik Maze', sans-serif;
    text-transform: uppercase;
    font-size: 55px;
    padding-top: 16px;
    color: aqua;
}

#navbar ul{
    list-style: none;
    text-transform: uppercase;
    float: left;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover{
    background: #F68C70;
}
/*showcase*/
.showcase-img {
    float: right;
    width: 50%;
    padding: 60px 20px 20px 20px;
}
.showcase-img img{
    width: 80%;
}
.showcase-text {
    float: left;
    width: 50%;
    padding: 10px 20px 20px 40px;
}
.showcase-text h1{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 46px;
}
.showcase-text .title-one{
    font-size: 35px;
    font-weight: 400;
}
.title-tres{
    font-size: 40px;
    font-family: 'pacifico', sans-serif;
    color: #841934;
}
.title-cuatro{
    font-size: 40px;
    font-family: 'roboto-mono', sans-serif;
    color: #7c0324;
}
.showcase-text .title-two{
    color: #841934;
}
.showcase-text .large {
    padding-top: 20px;
}
header{
    height: 100vh;
}
.conteiner{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 10px;
}
/*about*/
#about{
    background: #F55C7A;
    padding: 100px 0;
    
}
.about-title{
    float: left;
    width: 45%;
    padding-top: 40px;
}
.about-description{
    float: right;
    width: 55%;
}
.about-description .large{
    padding-bottom: 10px;
    font-size: 1.25rem;
}
/*nosotros*/
#nosotros{
    background: #F55C7A;
    padding: 100px 0;
}
.nosotros-title{
    float: left;
    width: 45%;
    padding-top: 40px;
}
.nosotros-title img{
    float: left;
    width: 80%;
    padding-top: 10px;
}
.nosotros-description{
    float: right;
    width: 55%;
}
.nosotros-description .large{
    padding-bottom: 10px;
    font-size: 1.25rem;
}

/*general */
h2 {
    float: left;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    color: #690a0a;
    padding: 0px 10px 90px 10px;
}
p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
}
/*contact*/
#contact{
    padding: 120px 0;
}
.contact-form{
    float: left;
    width: 45%;
    padding: 20px;
}
.contact-title{
    float: right;
    width: 55%;
    padding-top: 160px;
    text-align: center;
}
form .form-group {
    margin-bottom: 1rem;
}
form .form-control {
    width: 100%;
    padding: 0.375rem 0.7rem;
    font-size: 1rem;
    line-height: 1.7;
    border: none;
}
    /* Boton Form */
.btn {
    font-size: 15px;
    padding: 14px 23px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-top: 10px;
}
    .btn-light {
    background: #841934;
    border: 1px solid #841934;
    color: #fff;
    width: 100%;
    }
    .btn-light:hover {
    background: #fff;
    border: 1px solid #841934;
    color: #841934
}
#restemp{
    padding: 500px 200px 100px 300px;
    font-size: 2rem;
    color: aqua;
}